/* *{
    margin: 25px;
    padding: 0;
} */
.header{
    margin: 25px;
}
.header-up{

    display: flex;
    justify-content: space-between;
    align-items: center;
}
#sort_btn{
    height: 50px;
    width: 150px;
    border: none ;
    background-color: #d3d3d3;
    font-size: larger;
    border-radius: 5px;
}
#sort_btn:hover{
    background-color: black;
    color: white;
    border-radius: 5px;
}


#blog_btn{
    height: 50px;
    width: 100px;
    border: none;
    background-color: red;
    color: white;
    font-size: larger;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
    display: flex;
    justify-content: center;
    align-items: center;

}

.header-down{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.hd-btn{
    height: 40px;
    width: 100px;
    border: none ;
    background-color: #d3d3d3;
    border-radius: 5px;
}
.hd-btn:hover{
    background-color: red;
    color: white;
    border-radius: 5px;
}

#video-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.box{

    padding: 5px;
    margin: 5px;
    text-align: center;
    width: 332px;
    height: 336px;
}

.box-img{
    width: 300px;
    height: 200px;
}






/* video container starts here */

.video-contain{
    padding: 5px;
    margin: 5px;
    text-align: center;
    width: 300px;
}

.video-content-cover{
    position: relative;
    transition: .5s;
    transition-delay: .05s;
}

.channel-logo{
    position: relative;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.channel-logo-img{
    width: 35px;
    height: 35px;
    object-fit: cover;
}

.video-box{
    position: relative;
    width: auto;
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
}
.video-box-img{
    width: 300px;
    height: 170px;
}


.video-content{
    margin-bottom: 25px;
    position: relative;
    text-align: center;
    transition: .5s;
    width: 100%;
}

.video-details{
    display: flex;
    color: #fff;
    padding-top: 12px;
}

.detail{
    margin-left: 12px;
    margin-right: 12px;
}

.title{
    font-size: 0.9rem;
    color: black;
    text-align: justify;
}

.channel-name{
    font-size: .8rem;
    margin-top: 10px;
    color: #aaa;
    text-align: left;
}


.views-upload{
    display: flex;
    justify-content: space-between;
    font-size: .8rem;
    color: #aaa;
}

.upload{
    position: absolute;
    bottom: 8px;
    right: 16px;
    color: white;
    background-color: black;
    font-size: smaller;
    border-radius: 20px;
    padding-left: 5px;
    padding-right: 5px;
}



.no-data{
    height: 400px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.verify-img{
    width: 15px;
    height: 15px;
    padding-top: 9px;
}
.channel-name-and-mark{
    display: flex;
    gap: 3px;
}

@media screen and (max-width: 600px) {
    .header-up{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .header-up button {
        margin: 10px 0; /* Adjust as needed */
        padding: 10px 20px; /* Adjust as needed */
        font-size: 14px !important;
        width: 100%;
        height: 40px !important; 
    }
}



